@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --text: #1f1a00;
        --background: #d8cce1;
        --primary: #bb8fdb;
        --secondary: #502470;
        --accent: #f59e0b;
        --nav: #000000;
    }

    .dark {
        --text: #fffae0;
        --background: #2a1e33;
        --primary: #502470;
        --secondary: #bb8fdb;
        --accent: #eab308;
        --nav: #ffffff;
    }
}

@layer components {
    .carousel {
        @apply relative;
        perspective: 500px;
        transform-style: preserve-3d;
    }

    .card-container {
        @apply absolute left-[17%] top-[7%] w-[85%] h-[85%] blur-[calc(var(--abs-offset))] transition-all duration-[0.3s] ease-[ease-out];
        transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    }

}